*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:#fff;
padding:20px;
}

.container{
max-width:900px;
margin:auto;
}

header{
text-align:center;
margin-bottom:20px;
}

header h1{
font-size:30px;
color:#00e5ff;
}

header p{
color:#cbd5e1;
margin-top:5px;
}

.status-card{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:20px;
}

.search-box{
display:flex;
gap:10px;
margin-bottom:20px;
}

.search-box input{
flex:1;
padding:12px;
border:none;
border-radius:8px;
font-size:16px;
}

.search-box button{
padding:12px 18px;
background:#00c853;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-weight:bold;
}

#result,#topStocks{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-top:20px;
}
